body, main {
    display: flex;
    background-color: rgb(255, 255, 255);
}
body{
    flex-direction: column;
    background-color: rgb(104, 103, 101);
}
main{
    flex-direction: row;
    flex: auto;
    background-color: blue;
}
article {
    flex: 2;
    background-color: rgb(255, 255, 255);
}
aside {
    flex: 1;
    background-color: rgb(70, 67, 72);
}
article , aside{
    overflow-y: auto;
}
